.Info {
    //혹시 모르니까 일단 파일 분리
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 30px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
}

.InfoList{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
    //background-color: green;
}

.InfoText {
    width: 80%;
    font-size: large;
    font-weight: bold;
 
    
}
.buttonlist{
    display: flex;
    margin-top:10px;
    width: 80%; 
    justify-content: space-between;   
}
.InfoButton{
    background-color: #FFB471;
    border-radius: 10px;
    border-color: #FFB471;
    width:  45%;
    color: white;
}

.hospitalImage{
    width: 60%;
}

.Text{
    width: 80%;
    text-align: left;
}