.Select {
    margin: 0;
    min-width: 0;
    display: flex;
    //width: 20%;
    flex: 1;
    padding: 8px 8px;
    font-size: small;
    line-height: inherit;
    border: 1px solid;
    border-radius: 4px;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        border-color: red;
    }
}

.chocieText{
    width: 80%;
    margin:30px auto 0 auto;
    display: flex;
    font-size: large;
    font-weight: bold;
    justify-content: flex-start;
    align-self: center;
}


.mainSelectList{
    margin-top:10px;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.mainSelect{   
        background-color: #FFB471;
        border-radius: 10px;
        border-color: #FFB471;
        width:  15%;
        color: white;
        height: 25px; 
        text-align: center;
        margin-right: 10px;
}