.TestLocation {
    width: 80%;
    height:280px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    margin-top: 20px;
    border-radius: 20px;
}

.map{
    width: 80%;
    height:300px;
    margin-left: auto;
    margin-right: auto;
}