.TestLocation {
    width: 80%;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    margin-top: 40px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
}

.mapp{
    width: 80%;
    height:500px;
    margin-left: auto;
    margin-right: auto;
}